fisher/

# don't version control fish scripts that I haven't written
/fish/*/*
/fish/fish_variables

!/fish/myfunctions/*
!/fish/mycompletions/*

# nvm
nvm/

# linters 
.mypy_cache


# editors
nvim/.netrwhist
.vscode




